# Ignore data directory
data/

# Ignore lib directory
lib/

# Ignore venv
venv/
__pycache__/
*.pyc

# Ignore html directory
html/
*.html

# Ignore temporary files
*.tmp

#igore pycache files
src/__pycache__/

